.cart_title {
  text-align: center;
  font-family: AUTO;
  color: gray;
}
.cart_img {
  width: 50%;
}
#cart_container {
  margin-top: 10%;
}
.total_amount {
  margin-top: 40px;
  padding: 20px;
  text-align: center;
  border-top: 2px solid gray;
  border-bottom: 2px solid gray;

}
.row {
  margin-top: 40px;
}

.add_sub_item{
  background-color: black;
  color: white;
  width: 43px;
}
#remove_item{
  background-color: red;
  color: white;
  width: 40px;
}

